<h1>Toplantı Katılım Listesi</h1>

<table>
    <thead>
        <tr>
            <th>Ad</th>
            <th>Email</th>
            <th>Katılım Durumu</th>
            <th>Detay</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Ömer Güllü</th>
            <th>Omergullu555@gmail.com</th>
            <th>Katılıyor</th>
            <th>
                <a href="#">Detay</a>
            </th>
        </tr>
    </tbody>
</table>