@{
    ViewBag.Title = "Toplantı Katılım Listesi";
    Layout = "_Layout2";
}

<h1>Toplantı Katılım Listesi</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Email</th>
            <th>Katılım Durumu</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ömer Güllü</td>
            <td>Omergullu555@gmail.com</th>
            <td>Evet</td>
            <th>
                <a class="btn btn-sm btn-primary" href="#">Detay</a>
            </th>
        </tr>
    </tbody>
</table>